@import "mixins";
@import 'fonts';
@import "variables";

:host {
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar {
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding-left: 0;
  border: none;
  outline: none;
}
